body { 
   background: rgb(189, 193, 192)  ;
}



.contenedor{ 
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}
.tabla{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);

}
.contenedor{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
}